.flat {
    flex-basis: calc(50% - 10px);
    margin-top: 20px;
}

.flat-picture {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flat-title {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
}
